<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116508352639-63qhlrfebmtccgrgvpb78a14vqlmrl7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116508352639-63qhlrfebmtccgrgvpb78a14vqlmrl7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCJydEJso1ymZsYW6FTVIBUFwCyu-wgawk</string>
	<key>GCM_SENDER_ID</key>
	<string>116508352639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.family-notes.dev</string>
	<key>PROJECT_ID</key>
	<string>family-notes-74d9f</string>
	<key>STORAGE_BUCKET</key>
	<string>family-notes-74d9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116508352639:ios:f1267c0f785f4607145f4a</string>
</dict>
</plist>